<h2>Hello from App development</h2>
<%= @hello %>
<div class="nav-area">
	<div class="area_banner">
		<div class="area_btn">BiO</div>
		<div class="area_btn">EDUCATION</div>
		<div class="area_btn">COMMUNITY</div>
		<div class="area_btn">EXPERIENCE</div>
		<div class="area_btn">GALLERY</div>
	</div>
	
	<div class="mid_area_banner mid_side">
		<div class="area_btn">link to bio</div>
		<div class="area_btn">link to Twitter</div>
		<div class="area_btn">link to insta</div>
		<div class="area_btn">link to linkedin</div>
		<div class="area_btn">link contact info</div>
	</div>

	<div class="area_banner r_side">
		<h2>Gallery</h2>
		<div class="gal_btn">UX</div>
		<div class="gal_btn">GRAPHICS</div>
		<div class="gal_btn">ANIMATION</div>
		<div class="gal_btn">Programming</div>
		<div class="gal_btn">BLOG</div>
	</div>




</div>